:root{
    --grid-cols: 1;
    --grid-rows: 1;
    --size: 25px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f2937;
    padding: 0;
    margin: 0;
}

#container {   
	display: grid;
    grid-template-columns: repeat(var(--grid-cols), var(--size));
    grid-template-rows: repeat(var(--grid-rows), var(--size));
    padding: 25px;
    margin: 50px;
    margin-bottom: 25px;
    border-radius: 8px;
    background-color: rgb(192, 22, 22);
}

.board{
    background-color: aliceblue;
}

#gridButton,
#clearButton,
#rainbowButton{
    background-color: aliceblue;
    color: black;
    border: 2px solid black;
    margin-bottom: 25px;
    border-radius: 8px;
}

#rainbowButton{
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    color: aliceblue;
}
